include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Портфолио | Главная страница
  body
    .wrapper
      .welcome-section.parallax
        .parallax__layer(data-speed="0.1")
          +image('paralax-hero/layer1.png', 'parallax__img')
        .parallax__layer(data-speed="0.2")
          +image('paralax-hero/layer2.png', 'parallax__img')
        .parallax__layer(data-speed="0.3")
          +image('paralax-hero/layer3.png', 'parallax__img')
        .parallax__layer(data-speed="0.35")
          +image('paralax-hero/layer4.png', 'parallax__img')
        .parallax__layer(data-speed="0.4")
          +image('paralax-hero/layer5.png', 'parallax__img')
        .parallax__layer(data-speed="0.45")
          +image('paralax-hero/layer6.png', 'parallax__img')
        .parallax__layer(data-speed="0.45")
          .parallax__fon
        .parallax__layer(data-speed="0.45")
          +image('paralax-hero/filter.png', 'parallax__img')
        .parallax__layer(data-speed="0.5")
          +image('paralax-hero/sparks.png', 'parallax__img')
        
        
        .section.hero#hero

          .container.hero__container
            header.header
              .header__logo 
                .logo ВА
              
              .header__menu
                nav.pages-menu
                  -
                    var menu = [
                      ['Главная', '#hero'],
                      ['Обо мне', '#about'],
                      ['Навыки', '#values'],
                      ['Работы', '#works'],
                      ['Отзывы', '#comments'],
                      ['Связаться', '#connect']
                    ]
                  ul.pages-menu__list 
                    each item in menu
                      li.pages-menu__item
                        a(href=`${item[1]}`).pages-menu__link #{item[0]}
              
              .header__socials
                .socials
                  -
                    var icons = [
                      ['insta', 'https://www.instagram.com/or_alex/'],
                      ['vk', '#'],
                      ['github', 'https://github.com/orelkv']
                    ]

                  ul.socials__list
                    each item in icons
                      li.socials__item
                        a(href=`${item[1]}`).socials__link
                          +icon(`${item[0]}`, 'socials__icon')
              .header__hamburger
                .hamburger
                  .hamburger__elem

            .hero__content
              .user-prolog
                .user-prolog__text Личный сайт<br>веб разработчика
                h1.user-prolog__title Алексей<br>Орлов

            .hero__btn
              a(href="#").scroll-down
                .scroll-down__text Скролл
                .scroll-down__btn
                  +icon('scroll', 'scroll-down__icon')



        section.section.about#about     
          .container.about__container
            .about__content
              .about__left
                .user
                  .user__avatar
                    .avatar
                      +image('content/user.jpg', 'avatar__img', 'Фото Алексея')
                  .user__data
                    -
                      var data = [
                        ['Проживаю:', 'Черкесск'],
                        ['Возраст:', '33 года'],
                        ['Родился:', '14 сентября 1986']
                      ]

                    table.user__table
                      tbody.user__table-body
                        each row in data
                          tr
                            td #{row[0]}
                            td #{row[1]}


              .about__right
                .user-info
                  .user-info__content
                    .user-info__prolog Привет, меня зовут
                    h2.title-section.user-info__title Орлов Алексей
                    .user-info__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .user-info__ps  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!



      section.section.values#values
        .container.values__container
          .values__left
            .music
              +image('content/skills/rock-n-roll.png', 'music__img-text', 'Рок-н-ролл')
              +image('content/skills/guitar.png', 'music__guitar', 'Гитара')


          .values__right
            .skills#skills



      section.section.works#works
        .container.works__container

          h2.title-section.works__title Мои работы

          .works__content
            .slider-pages
              - var pagesWork = ['autumn.jpg', 'autumn.jpg', 'autumn.jpg', 'autumn.jpg','car.jpg', 'fantasy.jpg', 'mountains.jpg']
              ul.slider-pages__list
                each item in pagesWork
                  li.slider-pages__item
                    .slider-pages__wrap
                      .slider-pages__num 2
                      .slider-pages__screen
                        +image(`content/preview/${item}`, 'slider-pages__img-screen')
                        .slider-pages__var
                          .slider-pages__var-content
                            - var pages = ['autumn.jpg', 'autumn.jpg', 'autumn.jpg', 'autumn.jpg','car.jpg', 'fantasy.jpg', 'mountains.jpg']
                              ul.slider-pages__var-list
                                each page in pages
                                  li.slider-pages__var-item
                                    +image(`content/preview/${page}`, 'slider-pages__img-page')

                          .slider-pages__btns
                            a(href='#').btn-pointer.slider-pages__btn-nav.slider-pages__nav_next
                              +icon('arrow-down', 'btn-pointer__next')
                            a(href='#').btn-pointer.slider-pages__btn-nav.slider-pages__nav_prev
                              +icon('arrow-down', 'btn-pointer__prev')


                    .slider-pages__desk
                      .slider-pages__tech.slider-tech
                        - var techs = ['HTML', 'CSS', 'Javascript']
                        ul.slider-tech__list
                          each tech in techs 
                            li.slider-tech__item
                              .slider-tech__text
                                p #{tech}

                      .title-content.slider-pages__title Сайт школы образования

                      .slider-pages__info 
                        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!

                      .slider-pages__wrap-link
                        a(href='#').slider-pages__link Посмотреть сайт
                

      .comments-section.parallax-music
        .parallax-music__layer(data-speed="0.1")
          +image('paralax-music/fon.png', 'parallax-music__img')
        .parallax-music__layer(data-speed="0.1")
          +image('paralax-music/smoke.png', 'parallax-music__img')
        .parallax-music__layer(data-speed="0.1")
          +image('paralax-music/drums.png', 'parallax-music__img')
        .parallax-music__layer(data-speed="0.1")
          +image('paralax-music/guitarist.png', 'parallax-music__img')
        .parallax-music__layer(data-speed="0.1")
          +image('paralax-music/filter.png', 'parallax-music__img')

        section.section.comments#comments
          .container.comments__container
            h2.title-section.comments__title Что обо мне говорят
            .comments__content
              .slider-comments
                .slider-comments__btns
                  button.btn-pointer.slider-comments__btn-nav.slider-comments__btn-nav_prev
                    +icon('arrow-down', 'slider-comments__btn btn-pointer__prev')
                  button.btn-pointer.slider-comments__btn-nav.slider-comments__btn-nav_next
                    +icon('arrow-down', 'slider-comments__btn btn-pointer__next')

                .slider-comments__wrap
                  -
                    var avatar = [
                      ['user.jpg', 'Ковальчук Дмитрий', 'Основатель loftschool', 'Фото Сергея'],
                      ['user.jpg', 'Иванов Сергей', 'Преподаватель loftschool', 'Фото Сергея'],
                      ['user.jpg', 'Петров Алексей', 'Глава совета директоров loftschool', 'Фото Сергея'],
                      ['user.jpg', 'Жорж', 'Администратор loftschool', 'Фото Сергея'],
                    ]

                  ul.slider-comments__list
                    each item in avatar
                      li.slider-comments__item
                        .slider-comments__item-wrap
                          .slider-comments__text
                            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!

                          .slider-comments__avatar
                            .slider-comments__photo
                              .avatar
                                +image(`content/${item[0]}`, 'avatar__img', `${item[3]}`)
                            .slider-comments__info
                              h4.user-name.slider-comments__name #{item[1]}
                              .user__prof #{item[2]}



        section.section.connect#connect
          .container.connect__container
            h2.title-section.connect__title Связаться со мной
            .connect__content
              form.contacts-form(action="post")
                .contacts-form__row
                  .contacts-form__input-wrap
                    label.contacts-form__label.contacts-form__label_name
                      span.contacts-form__text Введите Ваше имя
                      input(type="text" id='name' name="name" required placeholder='Введите Ваше имя').contacts-form__input.contacts-form__input_name 
                  .contacts-form__input-wrap
                    label.contacts-form__label.contacts-form__label_email
                      span.contacts-form__text Введите Ваш email
                      input(type="email" id='email' name="email" required placeholder='Введите Ваш email').contacts-form__input.contacts-form__input_email
                
                .contacts-form__row
                  .contacts-form__input-wrap.contacts-form__input-wrap_textarea
                    label.contacts-form__label.contacts-form__label_message
                      span.contacts-form__text Сообщение к письму
                      textarea(id="message" name="message" required placeholder='Сообщение к письму').contacts-form__input.contacts-form__input_message

                button(type='submit').btn Отправить



      footer.section.footer#footer
        .container.footer__container
          .footer__content
            .footer__left
              .main-info
                .main-info__data © 2019
                .main-info__text
                  h4.user__name.main-info__name Алексей Орлов
                  .main-info__text-about Личный сайт веб-разработчика
                  
            .footer__right
              .footer__row.footer__menu
                nav.pages-menu.pages-menu_footer
                  -
                    var menu = [
                      ['Главная', '#hero'],
                      ['Обо мне', '#about'],
                      ['Навыки', '#values'],
                      ['Работы', '#works'],
                      ['Отзывы', '#comments'],
                      ['Связаться', '#connect']
                    ]
                  ul.pages-menu__list 
                    each item in menu
                      li.pages-menu__item
                        a(href=`${item[1]}`).pages-menu__link #{item[0]}
              
              .footer__row.footer__details
                .details
                  .details__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .socials.footer__socials
                    - var icons = ['insta', 'vk', 'github']
                      ul.socials__list
                        each item in icons
                          li.socials__item.socials__item_footer
                            a(href='#').socials__link
                              +icon(item, 'socials__icon')
              
                .citation
                  .citation__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  span.citation__author Martin Golding


    include ./templates/entry.pug