include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Портфолио | Главная страница
body
  .wrapper
    .welcome-section  
      section.section.hero
        .container.hero__container
          header.header 
            
            .header__logo 
              .logo ВА
            
            .header__menu
              nav.pages-menu
                - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                ul.pages-menu__list 
                  each item in menu
                    li.pages-menu__item
                      a(href='#').pages-menu__link #{item}
            
            .header__socials
              - var icons = ['insta', 'vk', 'github']
                ul.socials__list
                  each item in icons
                    li.socials__item
                      a(href='#').socials__link
                        +icon(`${item}`, socials__icon)
         
          
          .hero__content
            .user-info
              .user-info__text
              h1.user-info__title

          .hero__btn
            .scroll-down
              .scroll-down__text Скролл
              .scroll-down__btn



      section.about       
        .container.about__container
          .about__content
            .about__left
              .user
                .user__avatar
                  .avatar
                    +image('content/user.jpg', 'avatar__img', 'Фото Сергея')
                .user__data
                  -
                    var data = [
                      ['Проживаю:', 'Черкесск'],
                      ['Возраст:', '33 года'],
                      ['Родился:', '14 сентября 1986']
                    ]

                  table.user__table
                    tbody.user__table-body
                      each row in data
                        tr
                          td #{row[0]}
                          td #{row[1]}


            .about__right
              .user-info
                h5.user-info__prolog Привет, меня зовут
                h2.title__section.user-info__title Орлов Алексей
                .user-info__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .user-info__ps  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!



      section.values
        .container.values__container
          .values__left
            .music__images
              +image('content/skills/rock-n-roll.png', 'music__img-text', 'Рок-н-ролл')
              +image('content/skills/guitar.png', 'music__guitar', 'Гитара')


          .values__right
            .skills
              .skills__content
                h3.title__pages-row.skills__title Чем я могу быть полезен вам
                .skills__text
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

              .skills__tech
                ul.skills__list
                  -
                    var items = [
                      ['Frontend', ['Html5', 'Css3', 'Javascript', 'jQuery и Vue.js']],
                      ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']]
                    ]
                  li.skills__item.skills-row
                    each item in items
                      h4.skills-row__title #{item[0]}
                        ul.skills-row__list 
                         each skill in item[1]
                          li.skills-row__item
                            .skill

                              h4.skill__title #{skill}



      section.works
        .container.works__container

          h2.title__section.works__title

          .works__content
           .slider
            .slider__previews
              .slider


            .slider__desc









